<div>
    <div>
        <h3>Task List</h3>
        <div>
            In Progress
            Completed
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Assigned To</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tb>
                <td>
                    <label>
                        <input type="checkbox" aria-label="Select task"/> Design the project
                </td>
                <td>In Progress</td>
            </tb>
        </tbody>
</div>
